*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
    text-align: center;
    width: 100%;
    padding: 5px 0px;
    font-size: 30px;
    background-color:#B4DAA7;
}

.container{
    width: 100%;
    padding: 140px;
    margin: 10px 2px;
    height: 40vh;
    text-align: center;
}